<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
        	<img src="assets/img/SB-admin.png" width="150px" class="user-avatar" />
			<h1>SB Admin BS 4 Angular2</h1>
			<form role="form" [formGroup]="loginForm" (ngSubmit)="login()">
				<div class="form-content">
					<div class="form-group">
						<div 
							class="error-label"
							*ngIf="loginForm.controls.email.dirty || loginForm.controls.email.touched">
							<div 
								*ngIf="loginForm.controls.email.errors?.required">
								Email address required!
							</div>
							<div *ngIf="loginForm.controls.email.errors?.incorrectFormat">
								Email address is invalid!
							</div>
						</div>
						<input type="text" 
							class="form-control input-underline input-lg" 
							id="" placeholder="Email"
							formControlName="email">
					</div>

					<div class="form-group">
						<div class="error-label" *ngIf="loginForm.controls.password.dirty || loginForm.controls.password.touched">
							<div 								
								*ngIf="loginForm.controls.password.errors?.required">
								Password required
							</div>						
							<div *ngIf="loginForm.controls.password.errors?.minlength">
								Password should at least {{ loginForm.controls.password.errors.minlength.requiredLength }} characters.
							</div>
						</div>
						<input type="password" 
							class="form-control input-underline input-lg" 
							id="" placeholder="Password"
							formControlName="password">
					</div>
				</div>
				<button 
					type="submit" 
					class="btn rounded-btn"
					[disabled]="!loginForm.valid"
					> 
					Log in 
				</button>
				&nbsp;
				<a class="btn rounded-btn" routerLink="/signup">Register</a>
			</form>
		</div>	
	</div>
</div>
